<?xml version="1.0"?>
<ruleset name="HopTrip">
    <file>app</file>
    <file>bin</file>
    <file>public</file>
    <file>src</file>
    <file>test</file>
    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>src/Service/SilentMPDF.php</exclude-pattern>
    <rule ref="PSR2"/>
    <rule ref="vendor/f3ath/code-sniffs/src"/>
</ruleset>
