<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="vendor/autoload.php"
        backupGlobals="true"
        backupStaticAttributes="true"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        verbose="true"
        syntaxCheck="true">

    <php>
        <env name="APP_ENV" value="test"/>
        <ini name="date.timezone" value="UTC"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>test/unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>test/integration/</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>test/functional/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
